:root{
    --primary-light: #547792;
    --primary-dark: #213448;
    --secondary-light: #ffffff;
    --secodary-dark: #94B4C1;
}

body{ /*remain unchanged*/
    background-color: var(--primary-dark);
    color: var(--secondary-light);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}


/* CLASS SECTION */
header{
    background-color: var(--secondary-light);
    color: var(--primary-light);
    padding: 50px 20px;
    margin: 0;
    text-align: center;
}

.limit-size-img{ /*remain unchanged*/
    width: 46px;
    height: 46px;
    object-fit: cover;
}


/*ID SECTION*/
#text-no-margin{
    margin: 0;
}
